 form{
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: lightgrey 0 5px 15px;
}

.form-wrapper{
    width: 400px;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 5px;
}
input[type = 'text'], input[type='password'],input[type='number']{
    width: 100%;
}

input[type='submit'],button{
    width: 30%;
    padding: 4px;
    border-color: lavender;
}

input{
    padding: 5px;
}